<div>
  <div class="p-input-icon-left p-input-icon-right">
    <i class="pi pi-search"></i>
    <input type="text" pInputText placeholder="Search people & rooms" (click)="showSearchType()"
           (keyup.enter)="search()">
    <i class="pi pi-times" *ngIf="isShowSearchType" (click)="hideSearchType()" (keyup.escape)="hideSearchType()"></i>
  </div>
</div>
<div *ngIf="isShowSearchType">
  <app-search-type></app-search-type>
  <div class="p-button-icon-right">
    <i class="pi p-growl-icon-close"></i>
  </div>
</div>

<div *ngIf="isShowSearchType">
  <p-listbox [options]="fetchUserResponses()" [(ngModel)]="selectedUsers" [filter]="false">
    <ng-template pTemplate="header" >
      People
    </ng-template>
  </p-listbox>

  <p-listbox [options]="fetchRoomResponses()" [(ngModel)]="selectedRooms" [filter]="false">
    <ng-template pTemplate="header">
      Rooms
    </ng-template>
  </p-listbox>
</div>
