.p-input-icon-left > .p-inputtext {
  padding-left: 2.5rem;
  width: 365px;
  overflow: auto;
}

.pi.pi-times {
  cursor: pointer;
}

::ng-deep .p-listbox .p-listbox-header {
  background-color: #c3c3e2 !important;
}


.s-search-content {
  max-height: 800px;
}

.s-status-online {
  background: #65ff37;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid;
}

.s-status-offline {
  background: grey;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid;
}

.s-search-item {
  margin-left: 10px;
}
