<div>
  <div class="p-input-icon-left p-input-icon-right">
    <i class="pi pi-search"></i>
    <input type="text" [(ngModel)]="searchText" pInputText placeholder="Search people & rooms"
           (click)="showSearchType()"
           (keypress)="search()">
    <i class="pi pi-times" *ngIf="isShowSearchType" (click)="hideSearchType()" (keyup.escape)="hideSearchType()"></i>
  </div>
</div>
<div *ngIf="isShowSearchType">
  <app-search-type (changeTab)="callSearch($event)"></app-search-type>
  <div class="p-button-icon-right">
    <i class="pi p-growl-icon-close"></i>
  </div>
</div>

<div *ngIf="isShowSearchType" class="s-search-content">
  <p-listbox [options]="users" [(ngModel)]="selectedUsers" [filter]="false" [multiple]="true"
             optionLabel="name" [listStyle]="{'max-height':'350px'}"
             *ngIf="!activeItem || activeItem.label=='All'|| activeItem.label=='People'"
             (onClick)="openChatWindow($event)">
    <ng-template pTemplate="header">
      People
    </ng-template>

    <ng-template let-user pTemplate="item">
      <div class="s-status-online" *ngIf="usernamesOnline.includes(user.value.username)">
      </div>
      <div class="s-status-offline" *ngIf="!usernamesOnline.includes(user.value.username)">
      </div>
      <div class="s-search-item">
        {{user.value.username}}
      </div>
    </ng-template>
  </p-listbox>

  <p-listbox [options]="rooms" [(ngModel)]="selectedRooms" [filter]="false" [multiple]="true"
             optionLabel="name" [listStyle]="{'max-height':'350px'}"
             *ngIf="!activeItem || activeItem.label=='All'|| activeItem.label=='Rooms'">
    <ng-template pTemplate="header">
      Rooms
    </ng-template>
    <ng-template let-room pTemplate="item">
      <div class="s-search-item">
        {{room.value.naturalName}}
      </div>
    </ng-template>
  </p-listbox>
</div>
