.chat-avatar-choose {
  cursor: pointer;
}

.p-inputtext {
  width: 300px;
  padding-top: 100px;
}

.c-group-image-view {
  width: 150px;
  height: 150px;
}

.form-chat-room {
  height: 450px;
  display: block;
  width: 330px;
}

/**Custom css**/
#c-btn-choose-group-image {
  margin-left: 210px;
}

.c-btn-next {
  margin-top: 10px;
  margin-left: 250px;
}

.c-search {
  margin-top: -60px;
}

.c-btn-done {
  margin-left: 230px;
  margin-top: -29px;
}

body .p-listbox .p-listbox-header {
  background-color: grey;
}

.c-search-component {
  background-color: grey;
}

.c-search-content {
  margin-top: 20px;
}

.p-listbox {
  max-height: 400px;
  width: 250px;
}
