<button id="c-btn-choose-group-image" pButton type="button" label="Create new room" class="p-button-text"
        (click)="openRoomPopup()"></button>
<p-dialog header="Create new room" [(visible)]="isOpenCreateNewRoomPopup" (onHide)="closePopup()">
  <form class="form-chat-room">
    <div *ngIf="!isListUserAddToRoom">
      <label for="files" class="p-button-secondary chat-avatar-choose">Choose room image</label>
      <input type="file" value="Choose group image" id="files" style="visibility:hidden;"
             accept=".jpg,.jpeg,.png">
      <div class="c-group-image-view">
        <img src="/assets/layout/images/group-image.png" width="150px" height="150px"/>
      </div>
      <input type="text" pInputText placeholder="Chat room name" [(ngModel)]="roomName" name="roomNameInput"
             (ngModelChange)="onTextChange($event)" class="p-inputtext"/>
      <div class="c-btn-next">
        <button pButton pRipple label="Next" class="p-button-text p-button-rounded"
                [disabled]="roomName==null || roomName==''" (click)="nextScreentListUserAddToRoom()"></button>
        <i class="pi pi-chevron-right"></i>
      </div>
    </div>
    <div *ngIf="isListUserAddToRoom">
      <div class="c-btn-prev">
        <i class="pi pi-chevron-left"></i>
        <button pButton pRipple class="p-button-text p-button-rounded"
                (click)="prevScreenCreateRoom()" label="Prev"></button>
      </div>
      <div class="c-btn-done">
        <button pButton pRipple class="p-button-plain p-button-rounded" label="Done"></button>
      </div>

      <div class="c-search-content">
        <p-listbox [options]="buddyInput" [metaKeySelection]="false" [checkbox]="true"
                   [filter]="true" [multiple]="true" optionLabel="name" [(ngModel)]="selectedUsers" name="selectUsers">
          <ng-template let-user pTemplate="item">
            <div class="search-item">
              <div>{{user.username}}</div>
            </div>
          </ng-template>
        </p-listbox>
      </div>

    </div>
  </form>
</p-dialog>
