<div style="height: 100%;">
  <p-tabView #tabView [controlClose]="true" (onClose)="handleClose($event)"
             *ngIf="chatWindows.length > 0; else showNothing"
             (activeIndexChange)="handleActiveIndexChange($event)">
    <p-tabPanel *ngFor="let item of chatWindows; let i = index" [selected]="i == activeTab"
                [closable]="true">
      <ng-template pTemplate="header">
        <app-chat-header [title]="item.username"></app-chat-header>
      </ng-template>
      <ng-template pTemplate="content">
        <app-chat-window [chatWith]= "item.username"></app-chat-window>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
  <ng-template #showNothing>Nothing to display</ng-template>

</div>

