.layout-sidebar {
  height: 100%;
  background-color: var(--surface-a);
  overflow: auto;
  width: 250px;
  border-right: 1px solid var(--surface-d);
  padding: 1rem;
  transition: transform .4s cubic-bezier(.05, .74, .2, .99);
}

.category {
  display: block;
  color: var(--text-color-secondary);
  font-weight: 600;
  padding: 1.5rem 0 1rem;
  font-size: .857rem;
  text-transform: uppercase;
  border-top: 1px solid var(--surface-d);
}

.category-item {
  padding: 0 0 1rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.category-item a{
  color: var(--text-color);
  display: block;
  padding: .5rem;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}

.menu-avatar {
  height: 50px;
  width: 50px;
  position: relative;
}

.menu-avatar img {
  border-radius: 50%;
  height: 100%;
}

.info {
  display: flex;
  flex-flow: column;
  margin-left: 10px;
  justify-content: center;
}
.info .name {
  font-weight: bold;
  font-size: 20px;
}

.info .status {
  font-size: 12px;
}

.info .status.Online {
  color: #65ff37;
}

.info .status.Offline {
  color: grey;
}

.notifications {
  position: absolute;
  right: 0;
}
