<div class="login-panel ui-fluid">
  <div style="text-align: center">
    <h3 style="padding: 20px"><i class="pi pi-lock" style="font-size: 80px"></i></h3>
    <h2 class="text-center">Forgot Password?</h2>
    <p>You can reset your password here.</p>
  </div>
  <div class="login-panel-content" style="top: 0">
    <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
      <formly-form [form]="forgetPasswordForm" [fields]="fields" [model]="model"></formly-form>
      <div class="p-grid">
        <div class="p-col-6">
          <a class="p-link" style="color: #1E88E5" routerLink="/pre-auth/login">Back to Login</a>
        </div>
        <div class="p-col-6" style="text-align: right">
          <button pButton pRipple label="Confirm" style="width: 100%" [disabled]="!forgetPasswordForm.valid"></button>
        </div>
      </div>
    </form>
  </div>
</div>
