<div class="message" [ngClass]="clzzWrapper">
  <div class="avatar" pTooltip="{{msg.username}}" tooltipPosition="top">
    <img [src]="msg.avatarUrl" alt="">
  </div>
  <div class="detail" [ngClass]="clzz" pTooltip="{{msg.timeChat}}" tooltipPosition="bottom">
    <ng-template [ngForOf]="listStr" let-str ngFor>
      <ng-template [ngIf]="!str.isEmoji">
        {{str.text}}
      </ng-template>
      <ng-template [ngIf]="str.isEmoji">
        <ngx-emoji set="facebook" emoji="{{str.text}}" size="24" [fallback]="emojiFallBack"></ngx-emoji>
      </ng-template>
    </ng-template>
  </div>
</div>

