.layout-profile {
  /*border-bottom: 1px solid #ebebef;*/
}

.button-profile {
  display: flex;
  cursor: pointer;
}

.button-profile img {
  width: 90px;
  height: 90px;
  margin-bottom: 12px;
  border-radius: 50%;
  display: inline-block;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.profile-info .profile-name {
  color: #666666;
  font-weight: 500;
}

.profile-menu {
  display: block;
  background-color: #ffffff;
  list-style-type: none;
  padding: 0.75em;
  margin: unset;
}

.profile-menu a {
  display: block;
  position: relative;
  padding: 0.75em;
  border-radius: 6px;
}

.profile-menu a:hover {
  background-color: #e0e0e0;
}

.profile-menu a em {
  color: #616161;
  vertical-align: middle;
  font-size: 20px;
  margin-right: 7px;
}

.profile-menu a span {
  color: #616161;
  vertical-align: middle;
}

/*dialog-detail*/
p-dialog{
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

#fileInput{
  display: none;
}

.hoverable img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.hoverable{
  position: relative;
  display: block;
  cursor: pointer;
  height: 200px;
  width: 200px;
  border: 5px solid #000;
  border-radius: 50%;
  margin-left: 18%;
}

/*.hoverable .hover-text{*/
/*  position: absolute;*/
/*  display: none;*/
/*  top: 50%;*/
/*  left:  50%;*/
/*  transform: translate(-50%,-50%);*/
/*  z-index: 2;*/
/*}*/
.hoverable .background{
  position: absolute;
  display: none;
  top: 0;
  left:  0;
  bottom: 0;
  right: 0;
  background-color:rgba(255, 255, 255, 0.5);
  pointer-events: none;
  border-radius: 50%;
  z-index: 1;
}
.hoverable:hover .hover-text{
  display: block;
}
.hoverable:hover .background{
  display: block;
}

