<div class="layout-profile">
  <a class="button-profile" (click)="onShowProfileMenu()">
    <img [src]="url ? url : '/assets/layout/images/avatar.png'" alt="">
    <div class="profile-info">
      <span class="profile-name">{{getUsername()}}</span>
    </div>
  </a>
  <ul [@slideInOut]="stateProfileMenu" class="profile-menu">
    <li role="menuitem">
      <a href="#" class="ripplelink">
        <em class="material-icons">account_circle</em>
        <span (click)="onShowProfileDetail()">Profile</span>
      </a>
    </li>
    <li role="menuitem">
      <a href="#" class="ripplelink">
        <em class="material-icons">settings</em>
        <span>Settings</span>
      </a>
    </li>
    <li role="menuitem">
      <a href="#" class="ripplelink" (click)="onLogout()">
        <em class="material-icons">cancel</em>
        <span>Logout</span>
      </a>
    </li>
  </ul>
</div>


<p-dialog header="Chỉnh sửa trang cá nhân" [(visible)]="displayBasic">
  <div>
    <div class="avatar">
      <span style="font-size: 25px">Avatar</span>
        <label for="fileInput">
          <!--        <span>Thêm</span>-->
          <p-button label="Thêm" styleClass="p-button-text" style="margin-left: 178px;"></p-button>
          <input id="fileInput" type="file" (change)="onSelectFile($event)" accept="image/*">
        </label>
    </div>
    <div class="hoverable" style="margin-top: 50px">
      <a [href]="url" target="_self">
        <img [src]="url ? url : '/assets/layout/images/avatar.png'">
      </a>
      <div class="background"></div>
    </div>

    <div class="description" style="margin-top: 50px">
      <div>
        <span style="font-size: 25px">Mô tả bản thân</span>
        <p-button (click)="des= !des" label="Thêm" style="margin-left: 73px;"
                        styleClass="p-button-text"></p-button>
      </div>
      <div>
        <div style="flex-wrap: wrap; width: 310px" [hidden]="!des">{{profile.description}}</div>
        <div [hidden]="des">
          <textarea [(ngModel)]="profile.description" autoResize="autoResize" cols="30" pInputTextarea placeholder="Mô tả bản thân..."
                    rows="1" style="width: 80%"></textarea>
          <p-button label="Save" icon="pi pi-check" styleClass="p-button-sm" (click)="UpdateDescription()"></p-button>
        </div>
      </div>
    </div>

  </div>
</p-dialog>

