<p-toast position="top-right"></p-toast>
<ngx-spinner name="login" bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Login... </p></ngx-spinner>
<ngx-spinner name="forgotPassword" bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Sending... </p></ngx-spinner>
<ngx-spinner name="changePassword" bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Updating... </p></ngx-spinner>
<router-outlet></router-outlet>
