body {
    .p-picklist {
        .p-picklist-caption {
            padding: $headerPadding;
        }

        .p-picklist-list {
            padding: 0;
        }

        li.p-picklist-item {
            padding: $listItemPadding;
            margin: 0;
            @include border-radius(0);
            color: $textColor;

            &:not(.p-state-highlight):hover {
                @include hover-element();
            }

            &.p-state-highlight {
                background-color: $accentColor;
                color: $accentTextColor;
            }
        }

        .p-picklist-buttons {
            width: 3.429em;

            .p-button {
                &.p-button-icon-only {
                    width: 2.286em;
                    margin-right: 0;
                    display: inline-block;
                    margin-bottom: 0.286em;
                }
            }
        }

        .p-picklist-buttons-cell {
            text-align: center;
        }

        &.p-picklist-responsive {
            .p-picklist-buttons {
                width: 3.429em;

                .p-button {
                    &.p-button-icon-only {
                        margin: 0 auto;
                        display: block;
                        margin-bottom: 0.571em;
                    }
                }
            }

            .p-picklist-list {
                .p-picklist-item {
                    .p-chkbox {
                        margin-right: 0.571em;
                        vertical-align: top;
                    }

                    .p-chkbox,.p-chkbox * {
                        box-sizing: content-box;
                    }
                }
            }
        }
    }

    .p-orderlist {
        .p-orderlist-caption {
            padding: $headerPadding;
            @include border-box-sizing();
        }

        .p-orderlist-list {
            padding: 0;
            box-sizing: border-box;

            li.p-orderlist-item {
                padding: $listItemPadding;
                margin: 0;
                @include border-radius(0);
                color: $textColor;

                &:not(.p-state-highlight):hover {
                    @include hover-element();
                }

                &.p-state-highlight {
                    background-color: $accentColor;
                    color: $accentTextColor;
                }
            }
        }

        &.p-orderlist-responsive {
            .p-orderlist-controls {
                width: 4.286em;
            }
        }

        .p-orderlist-controls {
            width: 4.286em;
            text-align: center;

            .p-button {
                &.p-button-icon-only {
                    width: 2.286em;
                    margin: 0 auto 0.571em auto;
                }
            }
        }
    }

    .p-organizationchart {
        .p-organizationchart-node-content {
            &.p-organizationchart-selectable-node:not(.p-state-highlight):hover {
                @include hover-element();
            }

            &.p-state-highlight {
                .p-node-toggler {
                    i {
                        color: darken($accentColor, 25%);
                    }
                }
            }
        }
        .p-organizationchart-line-down {
            background-color: darken($contentBorderColor, 10%);
        }

        .p-organizationchart-line-left {
            border-right: 1px solid darken($contentBorderColor, 10%);
        }

        .p-organizationchart-line-right {

        }

        .p-organizationchart-line-top {
            border-top: 1px solid darken($contentBorderColor, 10%);
        }

        .p-organizationchart-node-content {
            border-color: darken($contentBorderColor, 10%);
        }

        .p-organizationchart-node-content .p-node-toggler {
            bottom: -1.143em;
            margin-left: -.825em;
            color: darken($contentBorderColor, 10%);

            .pi-chevron-down {
                @include material-icon("keyboard_arrow_down");
            }

            .pi-chevron-up {
                @include material-icon("keyboard_arrow_up");
            }
        }
    }

    .p-paginator {
        background-color: $primaryDarkColor;
        padding: $paginatorPadding;

        > a {
            box-sizing: border-box;
            color: #ffffff;

            .pi {
                display: none;
            }

            &:not(.p-state-disabled):not(.p-state-active):hover {
                background-color: $primaryLightColor;
                @include border-radius(50%);
                @include transition(background-color $transitionDuration);
            }
        }

        .p-paginator-next {
            padding: 0;
            vertical-align: middle;
            @include material-icon("navigate_next");
        }

        .p-paginator-last {
            padding: 0;
            vertical-align: middle;
            @include material-icon("last_page");
        }

        .p-paginator-prev {
            padding: 0;
            vertical-align: middle;
            @include material-icon("navigate_before");
        }

        .p-paginator-first {
            padding: 0;
            vertical-align: middle;
            @include material-icon("first_page");
        }

        .p-paginator-first, .p-paginator-prev,
        .p-paginator-next, .p-paginator-last {
            min-width: 1.200em;
            width: 1.200em;
            height: 1.200em;
            line-height: 1.2;
        }

        .p-paginator-pages {
            vertical-align: middle;
            margin: 0 6px 0 12px;
            padding: 0;

            a {
                padding: 0;
                color: $headerTextColor;
                min-width: 1.714em;
                min-height: 1.714em;
                line-height: 1.714em;
                @include border-radius(50%);
                @include transition(background-color $transitionDuration);

                &:not(.p-state-active):hover {
                    background-color: $primaryLightColor;
                }

                &.p-state-active {
                    background-color: $accentColor;
                    color: $accentTextColor;
                }
            }
        }
    }

    .p-datagrid {
        .p-datagrid-header {
            padding: $headerPadding;
        }

        .p-panel {
            .p-panel-titlebar {
                background-color: $panelLightHeaderBgColor;
                color: $panelLightHeaderTextColor;
            }
        }
    }

    .p-datalist {
        .p-datalist-header {
            padding: $headerPadding;
        }
    }

    .p-dataview {
        .p-dataview-header {
            background-color: $panelLightHeaderBgColor;
            color: $panelLightHeaderTextColor;
            padding: $headerPadding;
            border: 1px solid $dividerColor;
            border-bottom: 0 none;

            .p-button {
                &.p-state-active {
                    &:hover {
                        background-color: $accentColor;
                        color: $accentTextColor;
                    }
                }
            }
        }

        .p-dataview-content {
            background-color: $contentBgColor;
            color: $textColor;
            border: 1px solid $contentBorderColor;
        }

        .p-dataview-footer {
            background-color: $panelLightHeaderBgColor;
            color: $panelLightHeaderTextColor;
            padding: $headerPadding;
            border: 1px solid $dividerColor;
            border-top: 0 none;
        }
    }

    .p-table {
        .p-table-caption,
        .p-table-summary {
            padding: $headerPadding;
            font-weight: normal;
        }

        .p-table-caption {
            border-bottom: 0 none;
        }

        .p-table-summary {
            border-top: 0 none;
        }

        .p-table-thead > tr > th,
        .p-table-tbody > tr > td,
        .p-table-tfoot > tr > td {
            padding: $dataTableHeaderPadding;
        }

        .p-table-thead > tr > th,
        .p-table-tfoot > tr > td {
            font-weight: $headerFontWeight;
            background-color: #ffffff;
            border: 0 none;
        }

        p-sortIcon {
            display: inline-block;
        }

        .p-table-thead > tr > th {
            padding: $dataTableHeaderPadding;
            border: 0 none;
            text-align: left;
            font-weight: $headerFontWeight;
            border-top: 1px solid $contentBorderColor;
            background-color: #ffffff;

            &:first-child {
                border-left: 1px solid $contentBorderColor;
            }

            &:last-child {
                border-right: 1px solid $contentBorderColor;
            }

            &.p-state-hover {
                @include hover-element();
            }

            .p-sortable-column-icon {
                vertical-align: middle;
                margin: -4px 0 0 0;
                color: $textSecondaryColor;

                &.#{$iconPrefix}-carat-2-n-s {
                    margin-left: 4px;
                }
            }

            .p-column-resizer {
                @include material-icon("\e86f");
                font-size: $fontSize + 2;
                color: $textSecondaryColor;
            }

            &.p-state-active,&.p-state-highlight {
                background-color: $accentColor;
                color: $accentTextColor;
                border-top-color: $accentColor;

                .#{$iconPrefix} {
                    color: $accentTextColor;
                }

                .p-inputtext {
                    color: $accentTextColor;

                    &.p-state-focus {
                        border-color: $accentTextColor;
                    }
                }
            }
        }

        .p-table-tfoot > tr > td {
            padding: $dataTableHeaderPadding;
            border: 0 none;
            background-color: $contentBgColor;
            text-align: left;
            font-weight: $headerFontWeight;

            &:first-child {
                border-left: 1px solid $contentBorderColor;
            }

            &:last-child {
                border-right: 1px solid $contentBorderColor;
            }
        }

        .p-table-loading-icon {
            color: #ffffff;
        }

        .p-table-globalfilter-container {
            .p-inputtext {
                background-color: transparent;
                background-image: linear-gradient(to bottom, #ffffff, #ffffff), linear-gradient(to bottom, $inputBorderColor, $inputBorderColor);
                border-width: 0;
                padding: 2px;
                color: #ffffff;
            }

            input::-webkit-input-placeholder { /* Edge */
                color: #ffffff;
            }

            input:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: #ffffff;
            }

            input::placeholder {
                color: #ffffff;
            }
        }

        .p-sortable-column {
            color: $textColor;

            .p-sortable-column-icon {
                color: $textSecondaryColor;
            }

            &:not(.p-state-highlight):hover {
                @include hover-element();

                .p-sortable-column-icon {
                    @include hover-element();
                }
            }

            &.p-state-highlight {
                background-color: $accentColor;
                color: $accentTextColor;
                border-top-color: $accentColor;

                .p-sortable-column-icon {
                    color: $accentTextColor;
                }
            }

            .p-sortable-column-icon {
                vertical-align: middle;
            }
        }

        .p-table-tbody {
            > tr {
                background: $contentBgColor;
                border: 1px solid $contentBorderColor;

                > td {
                    background: inherit;
                    padding: $dataTableCellPadding;
                    border: 0 none;
                }

                &.p-state-highlight {
                    background-color: $accentColor;
                    color: $accentTextColor;
                }

                &.p-contextmenu-selected {
                    background-color: $accentColor;
                    color: $accentTextColor;
                }

                .p-editing-cell {
                    input {
                        color: $accentTextColor;
                    }
                }
            }

            > tr:nth-child(even) {
                background-color: $dataTableRowBgColorEven;

                &.p-state-highlight {
                    background-color: $accentColor;
                    color: $accentTextColor;
                }

                &.p-contextmenu-selected {
                    background-color: $accentColor;
                    color: $accentTextColor;
                }
            }
        }


        .p-table-scrollable-wrapper {
            .p-table-scrollable-header,  .p-table-scrollable-footer {
                border: 0 none;
                background-color: transparent;
                padding: 0px;
            }

            thead {
                tr {
                    th {
                        color: $textColor;
                        font-size: $fontSize;
                    }
                }
            }

            tfoot {
                tr {
                    td {
                        color: $textColor;
                        font-size: $fontSize;
                    }
                }
            }
        }

        &.p-table-hoverable-rows {
            .p-table-tbody > tr.p-selectable-row:not(.p-state-highlight):not(.p-contextmenu-selected):hover {
                cursor: pointer;
                @include hover-element();
            }
        }
    }

    .p-carousel {
        .p-carousel-content {
            .p-carousel-prev,
            .p-carousel-next {
                background-color: #ffffff;
                border: none;
                @include border-radius(50%);
                margin: .2em;
                color: $textColor;
                @include transition(color $transitionDuration);
                height: 2.5em;
                padding: 0;

                span {
                    color: $textColor;
                    font-size: 26px;
                    vertical-align: middle;
                }

                &:not(.p-state-disabled) {
                    &:hover {
                        background-color: $hoverBgColor;
                        color: $hoverTextColor;
                        border-color: none;
                    }
                }
            }
        }

        .p-carousel-dots-container {
            .p-carousel-dot-item {
                > .p-button {
                    border-color: #ffffff;
                    background-color: #ffffff;
                    @include shadow(none);
                    padding: 0;
                }

                .p-carousel-dot-icon {
                    width: 20px;
                    height: 6px;
                    background-color: #b2c1cd;
                    margin: 0 .2em;

                    &::before {
                        content: ' ';
                    }
                }

                &.p-state-highlight {
                    background-color: #ffffff;

                    .p-carousel-dot-icon {
                        background-color: $primaryColor;
                    }
                }
            }
        }
    }

    .p-tree {
        padding: $contentPadding;

        .p-treenode-children {
            padding-left: 2em;
        }

        .p-treenode-content {
            padding: $listItemPadding;
            padding-left: 0;
            padding-right: 0;
            display: inline-block;

            .p-chkbox {
                margin: 0 0.286em 0 0.286em;

                .pi {
                    color: #757575;
                }
            }

            .p-tree-toggler {
                vertical-align: middle;
            }

            .p-treenode-icon  {
                vertical-align: middle;
                margin: 0 0.286em 0 0.286em;
            }

            .p-treenode-label {
                padding: 0 0.286em 0 0.286em;
                margin: 0;
                vertical-align: middle;
            }

            &.p-treenode-selectable:not(.p-state-highlight) {
                .p-treenode-label:not(.p-state-highlight):hover {
                    @include hover-element();
                }
            }

            &.p-treenode-dragover {
                background: $primaryLightColor;

                > span {
                    color: $primaryTextColor;
                }
            }
        }

        &.p-tree-horizontal {
            padding-left: 0;
            padding-right: 0;

            .p-treenode-content {
                background-color: $contentBgColor;
                border: 1px solid $contentBorderColor;
                padding: .4em 1em .4em .2em;

                .p-tree-toggler {
                    vertical-align: top;
                }

                .p-treenode-icon  {
                    margin-right: 0.286em;
                }

                &.p-treenode-selectable:not(.p-state-highlight) {
                    .p-treenode-label:not(.p-state-highlight):hover {
                        @include hover-element();
                    }
                }

                &.p-state-highlight {
                    background-color: $accentColor;
                    color: $accentTextColor;

                    .p-treenode-icon  {
                        color: $accentTextColor;
                    }
                }
            }
        }
    }

    .p-tree-draghelper {
        border: 1px solid $primaryColor;
    }

    .fc {
        .fc-button {
            background-color: $primaryColor;
            color: $buttonTextColor;
            font-size: $fontSize;
            font-family: $fontFamily;
            height: 2.25em;
            padding: 0 1em;
            border: 0 none;

            &:enabled:not(:focus):not(.fc-button-active):hover {
                background-color: $primaryDarkColor;
            }

            &:enabled:not(.fc-button-active):focus {
                outline: 0 none;
                background-color: lighten($primaryColor,10%);
                box-shadow: none;
            }

            &.fc-button-active {
                background-color: $accentColor;
                color: $accentTextColor;
                &:focus {
                    box-shadow: none;
                }
            }
        }

        .fc-head {
            th {
                border-color: $primaryColor;
                padding: $headerPadding;
            }

            .fc-row {
                background-color: $primaryColor;
                color: $headerTextColor;
                border: 1px solid $primaryColor;
                font-weight: $headerFontWeight;
            }
        }

        td.fc-today {
            background-color: $accentColor;
            color: $accentTextColor;
        }

        .fc-toolbar {
            .fc-icon-chevron-right {
                font-family: 'Material Icons' !important;
                @include material-icon("play_circle_outline");
                text-indent: 0;
                position: relative;
                top: 1px;
            }

            .fc-icon-chevron-left {
                font-family: 'Material Icons' !important;
                @include material-icon("play_circle_outline");
                @include rotate(180deg);
                text-indent: 0;
                position: relative;
                top: 1px;
            }

            .p-state-active {
                background-color: $accentColor;
                color: $accentTextColor;
            }
        }

        .fc-event {
            background-color: $primaryLightColor;
            color: $primaryTextColor;
        }

        table {
            box-sizing: border-box;
        }

        div.p-widget-content {
            padding-left: 0px;
            padding-right: 0px;
        }
    }

    .p-treetable {
        .p-treetable-caption,
        .p-treetable-summary {
            padding: $headerPadding;
        }

        .p-treetable-caption {
            border-bottom: 0 none;
        }

        .p-treetable-summary {
            border-top: 0 none;
        }

        .p-treetable-thead > tr > th,
        .p-treetable-tbody > tr > td,
        .p-treetable-tfoot > tr > td {
            padding: $dataTableHeaderPadding;
        }

        .p-treetable-thead > tr > th,
        .p-treetable-tfoot > tr > td {
            font-weight: $headerFontWeight;
            background-color: #ffffff;
            border: 0 none;
        }

        .p-treetable-thead tr .p-inputtext {
            width: 100%;
        }

        .p-treetable-thead > tr > th {
             padding: $dataTableHeaderPadding;
             border: 0 none;
             text-align: left;
             font-weight: $headerFontWeight;
             border-top: 1px solid $contentBorderColor;
             background-color: #ffffff;

             &:first-child {
                 border-left: 1px solid $contentBorderColor;
             }

             &:last-child {
                 border-right: 1px solid $contentBorderColor;
             }

             &.p-state-hover {
                 @include hover-element();
             }

             .p-sortable-column-icon {
                 vertical-align: middle;
                 margin: -4px 0 0 0;
                 color: $textSecondaryColor;

                 &.#{$iconPrefix}-carat-2-n-s {
                     margin-left: 4px;
                 }
             }

             .p-column-resizer {
                 @include material-icon("\e86f");
                 font-size: $fontSize + 2;
                 color: $textSecondaryColor;
             }

             &.p-state-active,&.p-state-highlight {
                 background-color: $accentColor;
                 color: $accentTextColor;
                 border-top-color: $accentColor;

                 .#{$iconPrefix} {
                     color: $accentTextColor;
                 }

                 .p-inputtext {
                     color: $accentTextColor;

                     &.p-state-focus {
                         border-color: $accentTextColor;
                     }
                 }
             }
        }

        .p-treetable-tfoot > tr > td {
            padding: $dataTableHeaderPadding;
            border: 0 none;
            background-color: $contentBgColor;
            text-align: left;
            font-weight: $headerFontWeight;

            &:first-child {
                border-left: 1px solid $contentBorderColor;
            }

            &:last-child {
                border-right: 1px solid $contentBorderColor;
            }
        }

        .p-treetable-scrollable-header {
            border: none;
        }

        .p-treetable-loading-content {
            .pi-spin {
                -webkit-animation: 2s linear infinite spin;
                animation: 2s linear infinite spin;
                color: #ffffff;
            }
        }

        .p-sortable-column {
            color: $textColor;

            .p-sortable-column-icon {
                color: $textSecondaryColor;
            }

            &:not(.p-state-highlight):hover {
                @include hover-element();

                .p-sortable-column-icon {
                    @include hover-element();
                }
            }

            &.p-state-highlight {
                background-color: $accentColor;
                color: $accentTextColor;
                border-top-color: $accentColor;

                .p-sortable-column-icon {
                    color: $accentTextColor;
                }
            }

            .p-sortable-column-icon {
                vertical-align: middle;
            }
        }

        .p-treetable-tbody {
            > tr {
                background: $contentBgColor;
                border: 1px solid $contentBorderColor;

                > td {
                    padding: $dataTableCellPadding;
                    border: 0 none;

                    .p-treetable-toggler {
                        color: $textSecondaryColor;
                        .pi.pi-chevron-right {
                            vertical-align: middle;
                        }
                        .pi.pi-chevron-down {
                            vertical-align: middle;
                        }
                    }

                    .p-treetable-chkbox {
                        margin-right: .75em;
                        margin-top: 2px;

                        .p-chkbox-box.p-state-active {
                            &:before {
                                -webkit-animation: none;
                                animation: none;
                            }
                        }
                    }
                }

                &.p-state-highlight {
                    background-color: $accentColor;
                    color: $accentTextColor;

                    > td {
                        background: inherit;
                        border: $dividerColor;

                        .p-treetable-toggler {
                            color: $accentTextColor;
                        }
                    }

                    .p-chkbox {
                        .p-chkbox-box {
                            border-color: $accentTextColor;
                            background: transparent;

                            .p-chkbox-icon {
                                color: $accentTextColor;
                            }
                        }
                    }
                }

                &.p-contextmenu-selected {
                    background-color: $accentColor;
                    color: $accentTextColor;

                    > td {
                        background: inherit;
                        border: $dividerColor;

                        .p-treetable-toggler {
                            color: $accentTextColor;
                        }
                    }
                }
            }
        }

        &.p-treetable-hoverable-rows {
            .p-treetable-tbody > tr:not(.p-state-highlight):not(.p-contextmenu-selected):hover {
                cursor: pointer;
                @include hover-element();
            }
        }

        .p-treetable-scrollable-wrapper {
            .p-treetable-scrollable-header,  .p-treetable-scrollable-footer {
                border: 0 none;
                background-color: transparent;
                padding: 0px;
            }

            thead {
                tr {
                    th {
                        background-color: #ffffff;
                        color: $textColor;
                        border-bottom: 1px solid $dividerColor;
                        border-top: 1px solid $dividerColor;

                        &.p-state-active {
                            background-color: $accentColor;
                            color: $accentTextColor;
                        }
                    }
                }
            }
        }

        &.p-treetable-hoverable-rows {
            .p-treetable-tbody > tr.p-selectable-row:not(.p-state-highlight):not(.p-contextmenu-selected):hover {
                cursor: pointer;
                @include hover-element();
            }
        }
    }

    .p-virtualscroller {
        .p-virtualscroller-content {
            padding: 0;
        }

        .p-virtualscroller-list {
            li {
                border-bottom: 1px solid $dividerColor;
            }
        }
    }
}

@media (max-width: 40em) {
    body {
        .p-orderlist {
            &.p-orderlist-responsive {
                .p-orderlist-controls {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 640px) {
    body {
        .p-picklist {
            &.p-picklist-responsive {
                .p-picklist-list-wrapper {
                    margin-bottom: .5em;
                }

                .p-picklist-buttons {
                    padding: .5em 0;

                    .p-button {
                        &.p-button-icon-only {
                            display: inline-block;
                            margin-right: .25em;
                            margin-bottom: 0;
                        }
                    }

                    .pi-angle-right {
                        @include icon-override("play_arrow"); @include rotate(90deg);
                    }
                    .pi-angle-double-right {
                        @include icon-override("skip_previous"); @include rotate(-90deg);

                    }
                    .pi-angle-left {
                        @include icon-override("play_arrow"); @include rotate(-90deg);
                    }
                    .pi-angle-double-left {
                        @include icon-override("skip_next"); @include rotate(-90deg);
                    }
                }
            }
        }

        .p-orderlist {
            &.p-grid-responsive {
                .p-orderlist-controls {
                    text-align: center;
                    width: auto;

                    .p-button {
                        margin-right: .25em;
                    }
                }
            }
        }
    }
}
