body {
    /* Messages */
    .p-messages {
        padding: 1em;

        ul {
            display: inline-block;
            margin-left: 0;
        }

        &.p-messages-info {
            background-color: #2196F3;
            border-color: #2196F3;
            color: #ffffff;

            .p-messages-close:hover {
                background-color: lighten(#2196F3,15%);
            }
        }

        &.p-messages-warn {
            background-color: #ffc107;
            border-color: #ffc107;
            color: #212121;

            .p-messages-close{
                color: #212121;

                &:hover {
                    background-color: lighten(#ffc107,15%);
                }
            }
        }

        &.p-messages-error {
            background-color: #e62a10;
            border-color: #e62a10;
            color: #ffffff;

            .p-messages-close:hover {
                background-color: lighten(#e62a10,15%);
            }
        }

        &.p-messages-fatal {
            background-color: #212121;
            border-color: #212121;
            color: #ffffff;

            .p-messages-close:hover {
                background-color: lighten(#212121,15%);
            }
        }

        &.p-messages-success {
            background-color: #8BC34A;
            border-color: #8BC34A;
            color: #ffffff;

            .p-messages-close:hover {
                background-color: lighten(#8BC34A,15%);
            }
        }

        .p-messages-close {
            text-decoration: none;
            color: #fff;
            right: .25em;
        }
    }

    .p-messages .p-messages-icon {
        background: none;
        color: #fff;

        &.pi-info-circle {
            @include material-icon("info");
            font-size: 1.75em;
        }

        &.pi-exclamation-triangle {
            @include material-icon("warning");
            font-size: 1.75em;
            color: #212121;
        }

        &.pi-times {
            @include material-icon("error_outline");
            font-size: 1.75em;
        }

        &.pi-check {
            @include material-icon("check_circle");
            font-size: 1.75em;
        }
    }

    .p-message {

        .p-message-text {
            margin-left: 5px;
        }

        &.p-message-info {
            background-color: #2196F3;
            border-color: #2196F3;
            color: #ffffff;
        }

        &.p-message-warn {
            background-color: #ffc107;
            border-color: #ffc107;
            color: #212121;
        }

        &.p-message-error {
            background-color: #e62a10;
            border-color: #e62a10;
            color: #ffffff;
        }

        &.p-message-fatal {
            background-color: #212121;
            border-color: #212121;
            color: #ffffff;
        }

        &.p-message-success {
            background-color: #8BC34A;
            border-color: #8BC34A;
            color: #ffffff;
        }

        .p-message-close {
            text-decoration: none;
            color: #fff;
            right: .25em;
        }
    }

    .p-message .p-message-icon {
        background: none;
        color: #fff;
        margin-top: -2px;

        &.pi-info-circle {
            @include material-icon("info");
            font-size: 1.286em;
        }

        &.pi-exclamation-triangle {
            @include material-icon("warning");
            font-size: 1.286em;
            color: #212121;
        }

        &.pi-times {
            @include material-icon("error_outline");
            font-size: 1.286em;
        }

        &.pi-check {
            @include material-icon("check_circle");
            font-size: 1.286em;
        }
    }

    .p-growl {
        top: 90px;

        > .p-growl-item-container {
            opacity: 1;

            &.p-growl-message-info {
                background-color: #2196F3;
            }

            &.p-growl-message-warn {
                background-color: #ffc107;
            }

            &.p-growl-message-error {
                background-color: #e62a10;
            }

            &.p-growl-message-fatal {
                background-color: #212121;
            }

            &.p-growl-message-success {
                background-color: #8BC34A;
            }

            &.p-shadow {
                @include overlay-content-shadow();
            }
        }

        .p-growl-item {
            .p-growl-image {
                background: none;
                color: #ffffff;
                font-size: 36px;

                &.pi-info-circle {
                    @include material-icon("info");
                    font-size: 1.75em;
                }

                &.pi-exclamation-triangle {
                    @include material-icon("warning");
                    font-size: 1.75em;
                    color: #212121;
                }

                &.pi-times {
                    @include material-icon("error_outline");
                    font-size: 1.75em;
                }

                &.pi-check {
                    @include material-icon("check_circle");
                    font-size: 1.75em;
                }
            }

            .p-growl-message {
                color: #ffffff;
            }

            .p-growl-icon-close {
                @include material-icon("close");
                font-size: 24px;
                color: #ffffff;
            }
        }
    }

    .p-toast {
        .p-toast-message {
            @include overlay-content-shadow();

            &.p-toast-message-info {
                background-color: #2196F3;
                border: 0 none;
                color: #ffffff;

                .p-toast-message-content {
                    .p-toast-close-icon {
                        color: #ffffff;
                        &:hover {
                            background-color: lighten(#2196F3,15%);
                        }
                    }
                }
            }

            &.p-toast-message-success {
                background-color: #8BC34A;
                border: 0 none;
                color: #ffffff;

                .p-toast-message-content {
                    .p-toast-close-icon {
                        color: #ffffff;
                        &:hover {
                            background-color: lighten(#8BC34A,15%);
                        }
                    }
                }
            }

            &.p-toast-message-warn {
                background-color: #ffc107;
                border: 0 none;
                color: #212121;

                .p-toast-message-content {
                    .p-toast-close-icon {
                        color: #212121;
                        &:hover {
                            background-color: lighten(#ffc107,15%);
                        }
                    }
                }
            }

            &.p-toast-message-error {
                background-color: #e62a10;
                border: 0 none;
                color: #ffffff;

                .p-toast-message-content {
                    .p-toast-close-icon {
                        color: #ffffff;
                        &:hover {
                            background-color: lighten(#e62a10,15%);
                        }
                    }
                }
            }
        }
    }

    .p-toast .p-toast-icon {
        &.pi-info-circle {
            @include material-icon("info");
            font-size: 1.75em;
        }

        &.pi-exclamation-triangle {
            @include material-icon("warning");
            font-size: 1.75em;
            color: #212121;
        }

        &.pi-times {
            @include material-icon("error_outline");
            font-size: 1.75em;
        }

        &.pi-check {
            @include material-icon("check_circle");
            font-size: 1.75em;
        }
    }
}
